@{
    ViewBag.Title = "Our Store";
}
<h4>Welcome!</h4>
<p>The Pier country store was opened in the fall of 2000.  The Pier is open 365 days per year.  The store is run by John Trossen, proprietor & licensed guide and by manager, Lois "Mickey" VanDresser. </p>
<p align="center"><img width="50%" height="50%" src="http://fishinglakegeneva.azurewebsites.net/images/1.jpg"></p>