@{
    ViewBag.Title = "Bait and Tackle";
}

<br />
<p>The Pier is a convenient location to stop and pick up bait, tackle, licenses and other supplies before heading out onto the waters of Lake Geneva. </p>
<p>We personally select our bait to ensure you the finest bait available.  Many anglers comment that the bait they buy at our store is the liveliest bait they have ever purchased, and that it lives a long time in their bucket. </p>
<p>We supply some of the best live and artificial bait on the market including, but not limited to: </p>
<table class="table table-striped table-hover">
    <tbody>
        <tr>
            <td>Berkley</td>
            <td>Lucky Craft</td>
        </tr>
        <tr>
            <td>Bomber</td>
            <td>Mann's</td>
        </tr>
        <tr>
            <td>Chompers</td>
            <td>Rapala</td>
        </tr>
        <tr>
            <td>Culprit</td>
            <td>Stan Slone Zoro Baits</td>
        </tr>
        <tr>
            <td>Fin-S</td>
            <td>Storm</td>
        </tr>
        <tr>
            <td>Gamakatsu</td>
            <td>Strike King</td>
        </tr>
        <tr>
            <td>Gambler</td>
            <td>Terminator</td>
        </tr>
        <tr>
            <td>Gary Yamamoto</td>
            <td>Zoom</td>
        </tr>
        <tr>
            <td>Lindy</td>
            <td>And many more!</td>
        </tr>
    </tbody>
</table>
<p>The tackle we stock is geared toward Lake Geneva's unique fishing patterns and is rotated seasonally.  We will gladly challenge any competitor's regular advertised prices on: </p>
<table class="table table-striped table-hover">
    <tbody>
        <tr>Volume fishing tackle purchases</tr>
        <tr>High-end rods & reels</tr>
        <tr>Boating accessories</tr>
        <tr>Electronics purchases</tr>
    </tbody>
</table>
<p>We are dealers of:</p>
<table class="table table-striped table-hover">
    <tbody>
        <tr>
            <td>Abu Garcia - Reels</td>
            <td>Garman - Electronics</td>
        </tr>
        <tr>
            <td>Aqua Vu - Underwater viewing systems</td>
            <td>Humminbird - Electronics</td>
        </tr>
        <tr>
            <td>Atlantis - Underwater video systems</td>
            <td>Lowrance - Electronics</td>
        </tr>
        <tr>
            <td>Attwood - Marine accessories</td>
            <td>Magellan - Electronics</td>
        </tr>
        <tr>
            <td>Bottom Line - Electronics / fish finders</td>
            <td>Minn.Kota - Trolling motors</td>
        </tr>
        <tr>
            <td>Cannon - Downriggers</td>
            <td>MotorGuide - Trolling motors</td>
        </tr>
        <tr>
            <td>Daiwa - Rods, reels & lures</td>
            <td>Optima Batteries - Batteries</td>
        </tr>
        <tr>
            <td>Dual-Pro - Batteries & chargers</td>
            <td>Plano - Tackle boxes</td>
        </tr>
        <tr>
            <td>Eagle - Electronics</td>
            <td>Quantum - Rods & reels</td>
        </tr>
        <tr>
            <td>Fenwick - Rods</td>
            <td>Scotty - Downriggers & rodholders</td>
        </tr>
        <tr>
            <td>Frabill Products</td>
            <td>Shimano American Corporation - Rods & reels</td>
        </tr>
        <tr>
            <td>G.Loomis, Inc. - Rods</td>
            <td>St. Croix - Rods</td>
        </tr>
        <tr>
            <td>And many other fishing & boating products on the market</td>
            <td></td>
        </tr>
    </tbody>
</table>
<p><a href="/Home/Bait">Contact us</a> today for a free quote!</p>
