@{
    ViewBag.Title = "Contact";
}
<h3>Contact Us!</h3>





<address>
    John Trossen, Proprietor & Licensed Guide<br />
    N1806 Linn Rd<br />
    Lake Geneva, WI 53147<br />
    <abbr title="Phone">P:</abbr>
    <a href="tel:+12623489400">(262) 348-9400</a><br />
    <abbr title="Email">E: </abbr><a href="mailto:john@fishinglakegeneva.com">john@fishinglakegeneva.com</a>
</address>

<address>
    <strong>Support:</strong>  <a href="mailto:neckbeardthegrey@gmail.com">support@devKevStudios.com</a><br />
    <strong>Marketing:</strong>  <a href="mailto:neckbeardthewhite@gmail.com">weSellThings@devKevStudios.com</a><br />
    <strong>Free Hugs:</strong>  <a href="mailto:rockstar.kkelley@gmail.com">willHugU4Free@devKevStudios.com</a>
</address>