
@{
    ViewBag.Title = "Guides";
}

<br />
<p>As the owner/operator of The Pier fishing guide service I am pleased to cater to all types and levels of anglers from novice to professional.   I have been fishing Lake Geneva since the early 1980's and professionally fishing it since the mid 1990's.  I am a full-time licensed fishing guide.  Women, children, elderly, and the physically challenged are all welcome in my boat.</p>
<p>Guide trips are available for both daytime and nighttime year round.  It has been our experience that Lake Geneva provides some of the most exciting night fishing available and recommend everyone try it at least once!</p>
<p>Take a trip with me and you're bound to have fun and learn something new.  </p>
<p>My boat is a 2008 Ranger, 620 Fisherman.  It is powered by Mercury 250 outboard and positioned by Minnkota.  It provides a smooth, safe and quiet experience.  We have both portable and permanent heated ice shanties for a comfortable ice fishing experience during the winter months.</p>
<p>The species of fish that I guide for on Lake Geneva are:  Walleye, Northern Pike, Largemouth Bass, Smallmouth Bass, Lake Trout, and Pan Fish (crappies, bluegills & perch).</p>
<p>Our services can accommodate groups both large and small.   Please refer to the following chart for *standard costs:</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>Duration</td>
            <td>Amount</td>
            <td>Cost</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>6 hrs</td>
            <td>1 person</td>
            <td>$316.50</td>
        </tr>
        <tr>
            <td></td>
            <td>2 persons</td>
            <td>$369.25</td>
        </tr>
        <tr>
            <td></td>
            <td>3 persons</td>
            <td>$422.00</td>
        </tr>
        <tr>
            <td></td>
            <td>4 persons</td>
            <td>$474.00</td>
        </tr>
    </tbody>
</table>

<p><strong><em>Guide service pricing includes Wisconsin Sales Tax</em></strong></p>
<p>*Large groups and extended hours are also available, please call for a quote</p>
<p>Please note: Rates are subject to change without notice. </p>
<p><strong>These prices include:</strong></p>
<ul>
    <li>The use of the highest quality rods and reels</li>
    <li>All bait and tackle necessary for the outing (Northern Pike bait is extra)</li>
    <li>Photos of you and your catch</li>
</ul>

<p>For an additional charge, both cleaning & freezing fish and taxidermy services are available.</p>
<p>The Pier stocks all of the equipment used on the outings.  Like the tackle & equipment you used during your outing?  You can buy it and take it home with you</p>
<p>To book a trip, please <a href="/Home/Contact">Contact Us</a></p>

<p><strong>FAQs:</strong></p>
<p>Q:  What do I need to bring?</p>
<p class="text-warning">A:  Foul weather gear, appropriate clothing, cooler for the keepers and a camera for the ones we toss back.</p>
<br />
<p>Q:  Do I need to go buy a fishing license before I come?</p>
<p class="text-warning">A:  No, you can purchase one right at our store.</p>
<br />
<p>Q:  What if it rains or the weather turns bad?</p>
<p class="text-warning">A:   Depending on the severity of the weather, we will either wait it out or reschedule our trip.  </p>
<br />
<p>Q:  What if we need to use the restroom?</p>
<p class="text-warning">A:  There are restrooms located all around the lake at public launches which we can quickly access.  Another option would be for us to bring you back to our launch where you can then take your vehicle back to our store to use our restroom.</p>
<br />
<p>Q:  May I bring my favorite fishing pole?</p>
<p class="text-warning">A:  Of course you can!</p>
<br />
<p>Q:  Can we fish for more than one species?</p>
<p class="text-warning">A:  Typically I will take you fishing for one species at a time; however, we can always talk about fitting in another on your trip.</p>
<br />
<p>Q:  Do we get to keep our fish?</p>
<p class="text-warning">A:  You are welcome to keep your legal daily bag limit of any fish you catch.</p>
<br />
<p>Q:  Can we bring a GPS (Global Positioning System)</p>
<p class="text-warning">A:  Yes, you are welcome to bring a GPS.</p>
<br />
<p>Q:  Do you require a deposit?</p>
<p class="text-warning">A:  All trips require a $100 deposit.</p>
<br />
<p>Q:  What methods of payments do you accept?</p>
<p class="text-warning">A:  Cash, checks, MasterCard and Visa</p>
<br />
<p>Q:  Where do we meet?</p>
<p class="text-warning">A:  We would prefer to meet at our store, but other arrangements can be made.</p>
<br />
<p>Q:  What if none of these answer my question?</p>
<p class="text-warning"><a href="/Home/Contact">Contact Us!</a></p>
