@{
    ViewBag.Title = "The Pier";
}

<div class="jumbotron">
    <h1>The Pier</h1>
    <p class="lead">Your source for superb guide services, live bait, tackle, groceries, snacks & liquor in Lake Geneva, Wisconsin</p>
    <p><a href="/Home/About" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <p>Welcome to The Pier's web site!</p>

    <p>We would like to take this opportunity to thank everyone who assisted in making The Pier store & guide service the number one angler resource in Lake Geneva, Wisconsin.</p>

    <p>Please take some time and browse our web site to get to know us.  We have tried to include as much information as possible; however, should you have any additional questions, please feel free to <a href="/Home/Contact">Contact us</a>!</p>
</div>