
@{
    ViewBag.Title = "Testimonials";
}

<h4>Some feedback from our customers:</h4>
<blockquote>
    <p>
        I have had the pleasure of fishing with John four times this August, 2003, (twice with my 11 year old son, and twice with both my wife and son.) Each trip was a fabulous experience. John showed himself to be a knowledgeable, professional, and extremely capable guide. He was also honest and straightforward, willing to teach us what we needed to know, and most importantly, consistently able to put us on a 'hot bite'. During our trips we caught crappie (lots of them!) smallmouth bass, largemouth bass, northern and walleye. (My wife earned the nick-name 'crappie queen', as she seemed to be landing more than her fair share of the really big ones!) 
    </p>
    <p>
        There is a great story that goes with one of the 'smallies.' With one hour left during one of our trips, I told John that my personal best smallmouth bass was 16 inches. He said he thought he could do better than that for me in the time we had left. We re-rigged, as we were fishing for crappie at the time. Within 20 minutes I had a strong fish on the line. It was a smallie, and when we got it into the boat it measured out to 18 and 3/4 inches. Was luck involved? Certainly. But in my experience, luck like that only happens when a strong dose of knowledge and skill are worked into the mix. 
    </p>
    <p>
        My wife, son and I can't wait until our next opportunity to book John for a trip. 
    </p>
    <small>Bill Frech, Illinois</small>
</blockquote>

<blockquote>
    <p>
        "Every time I have been on the water with John it has been enjoyable and informative.  His knowledge about where the fish are and where to catch them always impresses me and has made me a more successful angler. 
    </p>
    <p>
        Walleyes, crappies, bass and bluegills, it doesn't matter... John has always put me on the fish." 
    </p>
    <small>Paul Mueller, Wisconsin</small>
</blockquote>

<blockquote>
    <p>
        "We have fished Lake Geneva a couple times prior on our own with very little success and were becoming quite discouraged. This was until we hired John to guide us. Our first day out, John put us on the fish that we could never find ourselves. Barbara and I only had three days to fish, and needless to say after the first day, we hired John for the remainder of our stay and had the time of our lives! I am now a firm believer of night fishing too. Barbara caught her personal best Walleye (5 lbs. 15 oz) and Smallmouth (3.5 lbs) .... who could ask for more? 
    </p>
    <p>
        We are planning several trips back to Lake Geneva over the next few months, and without question, John will be our guide. Thanks again for making our trip so special!!" 
    </p>
    <small>Kevin & Barbara Schechtel, Illinois</small>
</blockquote>

<blockquote>
    <p>
        "Listen up folks!  We had the fishing time of our life this past summer with John Trossen.  Folks if you are looking for a guide on Lake Geneva, look no further, you have just connected with the 'Mother Load'.  John is at the top of his game and will provide the results you are looking for.   
    </p>
    <p>
        From the first fish we caught to the last it was non-stop heart pounding, hook setting excitement!  John is Outstanding!  The whole time I laughed, learned a ton, and caught plenty of fish.  If you fish Lake Geneva, do yourself a favor, do it with the best guide, and a great person, John Trossen, you will not be disappointed." 
    </p>
    <small>Arthur & Fannie Johnson, Illinois</small>
</blockquote>

